  <% if @category == 'all' %>
    <%= link_to "Search", new_path, class: "search-box" %>
  <% end %>

  <% if @category == 'bodyParts' %>
    <h2>BODY PARTS</h2>
  <% else %>
  <h2><%= @category.upcase %></h2>
  <% end %>

<% @words.each do |w| %>
  <div class="item cf">
    <h3><%= w.sentence %></h3>
    <p><%= w.description %></p>
    <p class="level">Level: </p>
    <% w.level.times do |i| %>
    <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
    <% if w.category == 'bodyParts' %>
      <p>Category: body parts</p>
    <% else %>
      <p>Category: <%= w.category %></p>
    <% end %>

    <% if current_user && current_user.admin? %>
      <div class="delete-item">
        <%= link_to "Delete", delete_word_path(w.id), method: "delete" %>
      </div>
    <% end %>

    <% if current_user && current_user.admin? %>
      <div class="edit-item">
        <%= link_to "Edit", edit_path(w.id), method: "get" %>
      </div>
    <% end %>

  </div>
<% end %>