<div class="jumbotron">
  <h2>Let's get to know the useful expressions!</h2>
</div>

<h3><%= link_to "Sexual", category_path('sexual'), class: "category" %></h3>

<h3><%= link_to "Body Parts" ,category_path('bodyParts'), class: "category"  %></h3>

<h3><%= link_to "Offensive", category_path('offensive'), class: "category" %></h3>

<h3><%= link_to "Fuck", category_path('fuck'), class: "category" %></h3>

<h3><%= link_to "Shit", category_path('shit'), class: "category" %></h3>

<h3><%= link_to "Others", category_path('others'), class: "category" %></h3>

<h3><%= link_to "All Expressions", category_path('all'), class: "category category-all" %></h3>
