<!DOCTYPE html>
<html>
<head>
  <title>Fun Words</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'fw_logo_small.jpg' %>
  <link href="https://fonts.googleapis.com/css?family=Cinzel:900" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "Fun Words" ,root_path %></h1>
    <%= link_to "Add Expression", new_path, class: "add-expression" %>
    <%= form_tag(search_path, :method => "get", id: "search-form", class: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Words", class: "search-box" %>
    <%= submit_tag "Search", class: "search-btn" %>
    <% end %>

    <div class="authentication">
      <% if current_user %>
        <ul>
          <li><%= current_user.email %></li>
          <li><%= link_to "Log out", logout_path, method: "delete", class: "header_auth-btn" %></li>
        </ul>
      <% else %>
      <ul>
        <li><%= link_to "Login", 'login', class: "header_auth-btn" %></li>
        <li><%= link_to "Signup", 'signup', class: "header_auth-btn" %></li>
      </ul>
      <% end %>
    </div>

  </header>

    <div class="container">
      <%= yield %>
    </div>

<footer>
  <p>&copy; 2016 Hideto</p>
</footer>
</body>
</html>
